dm:
  source:
    _target_: rul_datasets.FemtoReader
    fd: ???
    run_split_dist: ???
    first_time_to_predict: ???
    norm_rul: True
  target:
    _target_: rul_datasets.FemtoReader
    fd: ???
    percent_broken: 1.0
    run_split_dist: ???
    first_time_to_predict: ???
    norm_rul: True
  batch_size: 150
  feature_extractor:
    _target_: rul_adapt.approach.tbigru.VibrationFeatureExtractor
    num_input_features: 2
    feature_idx: ???
  window_size: 20

feature_extractor:
  _convert_: all  # needed for tensorboard hparam dumping
  _target_: rul_adapt.model.GruExtractor
  input_channels: 30
  fc_units: [15, 5]
  gru_units: [5]
  bidirectional: True

regressor:
  _convert_: all
  _target_: rul_adapt.model.FullyConnectedHead
  input_channels: 10
  act_func_on_last_layer: False
  units: [1]

domain_disc:
  _convert_: all
  _target_: rul_adapt.model.FullyConnectedHead
  input_channels: 10
  act_func_on_last_layer: False
  units: [1]

tbigru:
  _target_: rul_adapt.approach.MmdApproach
  lr: 0.001
  mmd_factor: 0.1
  rul_score_mode: phm12

trainer:
  _target_: pytorch_lightning.Trainer
  max_epochs: 5000